language: php

php: 7.2

env:
  global:
    - COMPOSER_MEMORY_LIMIT=-1
before_install:
  # configure timezone: https://stackoverflow.com/a/27052708/1348344
  - date
  - export TZ=Europe/Prague
  - date

install:
  - composer install

script:
  - vendor/bin/ecs check .

notifications:
  email: false