// @import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;1,500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,600;0,700;1,400;1,600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Jura:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@500&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: Open Sans, Helvetica, Arial, sans-serif;
}

main {
    text-size-adjust: auto;
    -webkit-text-size-adjust: auto;
}

.logo-text {
    font-family: Jura, Helvetica, Arial, sans-serif;
}

h1,
h2,
h3,
h4 {
    font-family: Ubuntu, Helvetica, Arial, sans-serif;
}

h1,
h2,
h3 {
    line-height: 1.3;
    font-weight: 400;
}

h4 {
    @apply .text-xl .font-semibold .cursor-pointer .text-junglegreen;
}

.logo-svg {
    animation: appear 0.3s cubic-bezier(0.175, 0.885, 0.25, 1.15) both;
}
.nav__item-link a {
    display: inline-block;
    margin: 0;
    &:after {
        display: block;
        content: "";
        border-bottom: solid 2px #fffff0;
        transform: scaleX(0);
        transition: transform 250ms ease-in-out;
    }
}
.nav__item-link a:hover::after {
    transform: scaleX(1);
}

.nav__item-link .router-link-active {
    &:after {
        transform: scale(1);
    }
}

.nav__item-link__user {
    width: 200px;
    flex: 0 1 auto;
    text-align: center;
    .nav__item__user-componenr__wrapper {
        position: relative;
        display: inline-block;
        .user__component {
            left: 50%;
            bottom: -6px;
            border-left: 8px solid transparent;
            margin-left: -8px;
            border-right: 8px solid transparent;
            border-top: 6px solid transparent;
        }
        .user__component__button {
            outline: none;
            display: flex;
            flex-direction: row;
            align-items: center;
            cursor: pointer;
            background-color: transparent;
            border: none;
            padding: 0;
            img {
                width: 35px;
                border-radius: 50%;
                position: relative;
            }
            span {
                margin: 0 10px;
                font-size: 14px;
                max-width: 145px;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
            }
            div {
                margin: 3px 0 0;
            }
        }
        .user__component__dropdown {
            transform: scale(1);
            opacity: 1;
            position: absolute;
            top: 55px;
            right: 0;
            transform-origin: 260px 0;
            border-radius: 4px;
            transition: transform 0.3s, opacity 0.3s;
            width: 290px;
            background-color: #f6f9fc;
            box-shadow: 0 0 40px 5px rgba(0, 0, 0, 0.5);
            z-index: 9010;

            &::after {
                content: "";
                position: absolute;
                border: 10px solid transparent;
                border-bottom-color: #fff;
                top: -20px;
                right: 20px;
            }
            .user__component__dropdown__header {
                background-color: #fff;
                box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2);
                border-radius: 4px 4px 0 0;
                margin: 0;
                padding: 15px;
                margin: 0 0 5px;
            }
            .user__component__dropdown__body {
                padding: 15px 20px;
                text-align: center;
                .user__component__body__item {
                    margin: 0 0 15px;
                    .user__component__item--link {
                        box-shadow: 0 2px 4px rgba(50, 50, 93, 0.1);
                        height: 40px;
                        font-size: 14px;
                        border-radius: 4px;
                        padding: 0 40px;
                        transition: background-color 0.2s, padding 0.4s,
                            box-shadow 0.2s, border 0.2s;
                        position: relative;
                        display: inline-flex;
                        flex-direction: row;
                        justify-content: center;
                        align-items: center;
                        white-space: nowrap;
                        border: none;
                        width: 100%;
                        cursor: pointer;

                        .user__component__item--link__span {
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            white-space: nowrap;
                            width: 100%;
                        }
                    }
                }
            }
        }
    }
}
button {
    cursor: pointer;
    line-height: inherit;
    margin: 0;
}
@keyframes appear {
    0% {
        transform: scale(1, 0.35);
        opacity: 0;
    }
    100% {
        transform: scale(1, 1);
        opacity: 1;
    }
}

@keyframes animation {
    0% {
        transform: scale(1, 0.35);
        opacity: 0;
    }
    100% {
        transform: scale(1, 1);
        opacity: 1;
    }
}

.top-banner {
    display: flex;
    justify-content: center;
    flex: 1 1 auto;
    min-height: 440px;
    padding: 0 0 60px;
    .banner-left {
        flex: 1 1 50%;
        padding: 0 0 0 20px;
        display: flex;
        align-items: center;
    }
    .banner-wrapper {
        max-width: 500px;
        width: 100%;
        margin: 0 0 0 auto;
        transition: margin 0.4s;
        h1 {
            margin: 0 0 20px;
            font-size: 38px;
        }
        p {
            font-size: 18px;
            margin: 0 0 30px;
        }
        .banner-button {
            width: 230px;
            opacity: 1;
            transition: width 0, opacity 1s;
            overflow: hidden;
            padding: 10px 20px;

            .banner-link {
                border-radius: 4px;
                padding: 0 40px;
                transition: background-color 0.2s, padding 0.4s, box-shadow 0.2s,
                    border 0.2s;
                position: relative;
                display: inline-flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;
                white-space: nowrap;
                border: none;
            }
        }
    }
    .banner-right {
        flex: 1 1 50%;
        position: relative;
        padding: 0 0 0 50px;
        .cards-wrapper {
            position: absolute;
            width: 100%;
            height: 730px;
            top: -50px;
            left: 0;
            padding: 50px 0 0 50px;
            .cards-wrapp {
                position: relative;
                width: 600px;
                perspective: 700px;
                height: 500px;
                .cards-rotation {
                    height: 100%;
                    display: flex;
                    transform: rotate3d(0.5, -0.866, 0, 15deg) rotate(-1deg);
                    position: relative;
                    .card-two {
                        display: flex;
                        flex-direction: column;
                        flex: 1 1 50%;
                        width: 50%;
                        perspective: 700px;
                        .card-1 {
                            flex: 1 1 60%;
                        }
                        .card-2 {
                            flex: 1 1 40%;
                        }
                        .card {
                            margin: 0 5px 5px 0;
                            margin: 5px;
                            border-radius: 4px;
                            display: flex;
                            flex-direction: column;
                            overflow: hidden;
                            outline: 1px solid transparent;
                            border: 2px solid #15314b;
                            opacity: 1;
                            .card-head {
                                box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.4);
                                font-weight: 600;
                                display: flex;
                                align-items: center;
                                height: 30px;
                                font-size: 14px;
                                flex: 0 0 auto;
                                position: relative;
                                z-index: 2;
                                border-bottom: 2px solid #15314b;
                                .card__head__button {
                                    height: 100%;
                                    padding: 0 15px;
                                    display: flex;
                                    align-items: center;
                                    justify-content: center;
                                    border: none;
                                    cursor: pointer;
                                }
                            }
                            .card-body {
                                padding: 10px;
                                overflow: auto;
                                flex: 1 1 auto;
                                position: relative;
                                z-index: 1;
                                scrollbar-width: thin;
                                scrollbar-color: #a0a0a0 transparent;
                                .card-text {
                                    margin: 0 0 10px;
                                    font-size: 14px;
                                    font-weight: 600;
                                }
                                .card1-block {
                                    height: 13px;
                                    border-radius: 4px;
                                    margin: 0 0 4px;
                                }
                                .card2__block {
                                    box-shadow: 0 2px 4px rgba(50, 50, 93, 0.1);
                                    border-radius: 4px;
                                    margin: 0 0 15px;
                                    padding: 10px;
                                    opacity: 1;
                                    .card2__block--mini {
                                        display: inline-block;
                                        height: 13px;
                                        border-radius: 4px;
                                        margin: 0 4px 0 0;
                                    }
                                }
                                .card3__block {
                                    margin: 0 0 4px;
                                    height: 15px;
                                    white-space: nowrap;
                                    .card3__block--mini {
                                        display: inline-block;
                                        height: 13px;
                                        border-radius: 4px;
                                        margin: 0 4px 0 0;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

.whoIam {
    margin: 150px 0;
    padding: 0 20px;
    .section__header {
        h2 {
            font-size: 38px;
            margin: 150px 0 30px;
        }
    }
    .section__body {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        max-width: 600px;
        margin: 0 auto;
        img {
            height: 250px;
            width: 250px;
            border-radius: 50%;
            box-shadow: 0 10px 30px 1px rgba(0, 0, 0, 0.3);
            margin: 0 0 40px;
        }
    }
}

.category__item {
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
    transition: box-shadow 0.3s ease-in-out;
    border-radius: 2px;
    &:hover {
        box-shadow: 0 10px 30px 1px rgba(0, 0, 0, 0.3);
    }
    img {
        background-color: #aaa;
    }
}

.arrow-down {
    width: 0;
    height: 0;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;

    border-top: 7px solid #fffff0;
}

.loading__spinner {
    border-width: 3px;
    border-style: solid;
    border-radius: 50%;
    -webkit-animation: _scroolbar-animation 1s linear infinite;
    animation: _scroolbar-animation 1s linear infinite;
    flex: 0 0 auto;
    scrollbar-color: #a0a0a0 transparent;
}

@-webkit-keyframes _scroolbar-animation {
    0% {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(1turn);
    }
}
@keyframes _scroolbar-animation {
    0% {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(1turn);
    }
}
